<link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap" rel="stylesheet">
{
}

body {
	background-color: #e2cfc8;
}

header {
	background-color: #958e9a;
	padding: 20px;
}

header > h1 {
	color: #2a2a40;
	text-align: center;
	font-family: "Balsamiq Sans", cursive;
}

.scoreBoard {
	margin: 20px auto;
	border: 3px solid #958e9a;
	width: 200px;
	text-align: center;
	font-family: "Balsamiq Sans", cursive;
	font-size: 40px;
	color: #958e9a;
	padding: 20px 10px;
	position: relative;
}

.badge {
	background-color: #e2cfc8;
	font-size: 20px;
	font-family: "Balsamiq Sans", cursive;
	padding: 2px 10px;
}

#user-label {
	position: absolute;
	top: 20px;
	left: -30px;
}

#comp-label {
	position: absolute;
	top: 20px;
	right: -30px;
}

.result > p {
	text-align: center;
	font-family: "Balsamiq Sans", cursive;
	font-size: 30px;
	color: #2a2a40;
}

.choices {
	margin: 20px 0px;
	text-align: center;
}

.choice {
	display: inline-block;
	border: 4px solid #958e9a;
	border-radius: 50%;
	margin-bottom: 0px 20px;
	padding: 10px;
	transition: 0.1s ease;
}
.choice:hover {
	background: black;
	cursor: pointer;
}

#action-message {
	font-family: "Balsamiq Sans", cursive;
	font-size: 20px;
	text-align: center;
}
